@keyframes ork-idle {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1200px 0;
    }
}

@keyframes ork-attack {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1200px 0;
    }
}

@keyframes ork-death {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -800px 0;
    }
}

@keyframes ork-getHit {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -800px 0;
    }
}
