@keyframes fire-worm-idle {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1620px 0;
    }
}

@keyframes fire-worm-attack {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -2880px 0;
    }
}

@keyframes fire-worm-death {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1440px 0;
    }
}

@keyframes fire-worm-getHit {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -540px 0;
    }
}
