@keyframes evil-witch-idle {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -2800px 0;
    }
}

@keyframes evil-witch-attack {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -3640px 0;
    }
}

@keyframes evil-witch-death {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -5040px 0;
    }
}

@keyframes evil-witch-getHit {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -840px 0;
    }
}
